:root {
  --color-bright: #fff;
  --color-dark: #000;
  --color-accent: #0e9e6e;
  --rounding: 20px;

  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus-visible {
  outline-offset: 6px;
}

body {
  height: 100%;
  font-family:
    Ubuntu,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: var(--color-bright);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
button {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style-type: none;
}

a,
img,
button {
  display: block;
}

/* a,
button {
  focus-visible {
    outline-offset: 6px;
  }
} */

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
