@import '@/assets/styles/base.css';

.container {
  max-width: 1432px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

#app {
  height: 100%;
}

.stopScroll {
  height: 100%;
  overflow: hidden;
}
